<section id="contact" class="py-5 full-page-section text-white " data-aos="fade-up"
         >
  <div class="container">
    <h2 class="text-center mb-4 display-5 fw-bold">Contact Me</h2>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <form #contactForm class="p-4 rounded-4 shadow-lg"
              style="background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(10px); border: 1px solid rgba(255, 255, 255, 0.15);">

          <div class="mb-3">
            <label for="name" class="form-label text-light">Your Name</label>
            <input type="text" name="user_name" class="form-control text-white" id="name" placeholder="Enter your name"
                   style="background: transparent; border: 1px solid rgba(255,255,255,0.2);" />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label text-light">Your Email</label>
            <input type="email"name="user_email" class="form-control text-white" id="email" placeholder="Enter your email"
                   style="background: transparent; border: 1px solid rgba(255,255,255,0.2);" />
          </div>

          <div class="mb-3">
            <label for="message" class="form-label text-light">Message</label>
            <textarea name="message" class="form-control text-white" id="message" rows="4" placeholder="Write your message..."
                      style="background: transparent; border: 1px solid rgba(255,255,255,0.2); resize: none;"></textarea>
          </div>

          <button type="submit" class="btn btn-outline-warning w-100 fw-semibold">
            <i class="fas fa-paper-plane me-2"></i>Send Message
          </button>

        </form>
      </div>
    </div>
    <div class="text-center mt-5">
    <p class="mb-2">
      <i class="bi bi-envelope-fill text-warning me-2"></i>
      mosadnabil011&#64;gmail.com
    </p>
    <p class="mb-2">
      <i class="bi bi-github text-warning me-2"></i
      ><a
        href="https://github.com/Ahmedshreif-code"
        class="text-warning text-decoration-none"
        >GitHub</a
      >
    </p>
  </div>
  </div>
</section>
