<footer class="text-white text-center py-4  "
        style="background: rgba(0, 0, 0, 0.8); backdrop-filter: blur(6px); border-top: 1px solid rgba(255, 255, 255, 0.1);">
  <div class="container">
    <p class="mb-2">&copy; {{ currentYear }} <span class="fw-bold text-warning">Mosad Nabil Abokamer</span>. All rights reserved.</p>
    <div class="social-icons d-flex justify-content-center gap-4">
      <a href="https://github.com/mosadnabil011" target="_blank" class="text-white" style="transition: 0.3s;">
       <i class="bi bi-github  me-2"></i>
      </a>
      <a href="https://www.linkedin.com/in/mosad-abokamer-9b98a3268/" target="_blank" class="text-white" style="transition: 0.3s;">
        <i class="bi bi-linkedin"></i>
      </a>
      <a href="mailto:mosadnabil011@gmail.com" class="text-white" style="transition: 0.3s;">
        <i class="bi bi-envelope-fill  me-2"></i>
      </a>
    </div>
  </div>
</footer>
