
.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
}
/* Smaller screens padding fix */
@media (max-width: 575.98px) {
  .hero-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
  }

  .hero-title {
    font-size: 1.8rem;
  }
}
